In [1]:
import numpy as np
import pandas as pd

In [2]:
weight = np.array([2, 4, 5, 3, 6, 5, 7])
price = np.array([35, 60, 20, 50, 50, 55, 60])

In [3]:
df = pd.DataFrame({'weight': weight, 'price': price})

In [4]:
df

   weight  price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [5]:
x = df['weight']
y = df['price']

In [6]:
N = len(weight)
x_mean = np.mean(x)
y_mean = np.mean(y)

In [7]:
m = sum((x - x_mean)*(y - y_mean))/sum((x- x_mean)**2)
c = y_mean - m * x_mean

In [8]:
# perdict the price when the vegatible weight is 6

## Task 1

In [9]:
m * 6 + c

50.88709677419355

# Task 2

In [10]:
# compute the residual for each data point

In [11]:
pred = m * x + c

In [12]:
residual = df['price'] - (m * df['weight'] + c)
residual

0    -5.403226
1    14.354839
2   -28.266129
3     6.975806
4    -0.887097
5     6.733871
6     6.491935
dtype: float64

In [15]:
df['pred'] = pred
df['residual'] = residual

In [16]:
df

   weight  price       pred   residual
0       2     35  40.403226  -5.403226
1       4     60  45.645161  14.354839
2       5     20  48.266129 -28.266129
3       3     50  43.024194   6.975806
4       6     50  50.887097  -0.887097
5       5     55  48.266129   6.733871
6       7     60  53.508065   6.491935

## Task 3 . calculate Mean Squared Error(MSE) and Mean Absolute Error(MAE)

In [19]:
MAE = sum(abs(df['price'] - df['pred']))/N
MAE

9.87327188940092

In [21]:
MSE = sum((df['price'] - df['pred'])**2)/N
MSE

167.30990783410135

In [24]:
df

   weight  price       pred   residual
0       2     35  40.403226  -5.403226
1       4     60  45.645161  14.354839
2       5     20  48.266129 -28.266129
3       3     50  43.024194   6.975806
4       6     50  50.887097  -0.887097
5       5     55  48.266129   6.733871
6       7     60  53.508065   6.491935

In [28]:
## Generate a excel_file
datatoexcel = pd.ExcelWriter('predict_data.xlsx') 
# write DataFrame to excel
df.to_excel(datatoexcel)
 
# save the excel
datatoexcel.close()
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.