Q1.swaping number without using temporary variable

In [4]:
num1 = 20
num2 = 30
print('Before swaping numbers are {}, {}'.format(num1, num2))

num1, num2 = num2, num1
print('After swaping numbers are {}, {}'.format(num1, num2))

Before swaping numbers are 20, 30
After swaping numbers are 30, 20

Q2.check even or odd number

In [4]:
num = int(input('Enter a integer: '))

if num % 2 == 0:
    print('The number {} is even'.format(num))
else:
    print('The number {} is odd'.format(num))

Enter a integer:  15

The number 15 is odd

Q3.String reverse

In [ ]:
def reverse_string(str1):
    reverse = ''
    for i in str1:
        reverse = i + reverse
    return reverse

str1 = 'mohammad hasan'
result = reverse_string(str1)
print(result)

Q4. Type conversion

In [10]:
list1 = [1, 2, 3, 4]
print(list1)
print(type(list1))
str1 = ''
for i in list1:
    str1 = str1 + str(i)
print(str1)
print(type(str1))

[1, 2, 3, 4]
<class 'list'>
1234
<class 'str'>

Q5. Celcious To Fahrenheit coverter

In [ ]:
celcious_tem = 36.5

fahrenheit = celcious_tem*(9/5)+32
print(fahrenheit)

Q6. Write a function Data type checker          ## isinstance(4,int) => true @@ this is true for integer

In [3]:
def data_type_checker(variable):
    if isinstance(variable, int):
        return 'int'
    elif isinstance(variable, float):
        return 'float'
    elif isinstance(variable, str):
        return 'str'
    elif isinstance(variable, list):
        return 'list'
    else:
        return 'list'


print(data_type_checker(42))
print(data_type_checker(3.14))
print(data_type_checker('hello'))
print(data_type_checker([1,2,3]))
print(data_type_checker({1,2,2}))

int
float
str
list
list

Q7.String parindrom

In [6]:
def reverse_string(str1):
    reverse = ''
    for i in str1:
        reverse = i + reverse
    return reverse

str1 = 'madam'
rev = reverse_string(str1)
if str1 == rev:
    print('The string is palindromic')
else:
    print('The string is not palindromic')

The string is palindromic

Q8. Sring reverse with slicing

In [12]:
str1 = 'nadim'
rev = [str1[::-1]]  # indexing [start:end:step]
print(rev)

['midan']

Q9.String concatination

In [13]:
str1 = 'mohammad '
str2 = 'hasan'

con_str = str1 + str2
print(con_str)

mohammad hasan

Q10. Typecasting challenge

In [17]:
a = '100'
b = 25
c = '10.5'

res =(int(a) + b) - float(c)
str_res = str(res)
final_output = str_res + ' is the answer.'
print(final_output)

114.5 is the answer.

Q11. positive, negative, zero

In [18]:
num = int(input("Enter a integer : "))

if num == 0:
    print('The number is zero')
elif num > 0:
    print('The number {} is positive'.format(num))
else:
    print('The number {} is negative'.format(num))

Enter a integer :  0

The number is zero

Q12. Largest of three number

In [19]:
num1 = int(input('Enter number 1 : '))
num2 = int(input('Enter number 2 : '))
num3 = int(input('Enter number 3 : '))

if num1 > num2:
    if num1> num3:
        print("Here three number is {}, {}, {}, the maximum number is {}".format(num1, num2, num3, num1))

elif num2>num1:
    if num2>num3:
        print("Here three number is {}, {}, {}, the maximum number is {}".format(num1, num2, num3, num2))

else:
    print("Here three number is {}, {}, {}, the maximum number is {}".format(num1, num2, num3, num3))

Enter number 1 :  10
Enter number 2 :  20
Enter number 3 :  7

Here three number is 10, 20, 7, the maximum number is 20

Q13. Leap year checker

In [20]:
year = int(input('Give a year to check for this year is leap year or not : '))

if year % 400 == 0:
    print('The year of {} is leap year'.format(year))

elif year % 100 == 0:
    print('The year of {} is not leap year'.format(year))
elif year % 4 == 0:
    print('The year of {} is leap year'.format(year))
else: 
    print('The year of {} is not leap year'.format(year))

Give a year to check for this year is leap year or not :  2012

The year of 2012 is leap year

Q14. Grade calculation

In [5]:
percentage = int(input('Enter your percentage : '))

if percentage <= 100 and percentage >= 90:
    print('You obtain A+ grade and your percentage is {}%'.format(percentage))
elif percentage < 90 and percentage >= 80:
    print('You obtain A grade and your percentage is {}%'.format(percentage))
elif percentage < 80 and percentage >= 70:
    print('You obtain B grade and your percentage is {}%'.format(percentage))
elif percentage < 70 and percentage >= 60:
    print('You obtain C grade and your percentage is {}%'.format(percentage))
else:
    print('You obtain F grade you are fail and your percentage is {}%'.format(percentage))

Enter your percentage :  62

You obtain C grade and your percentage is 62%

Q15.Vowel or consonant checker

In [3]:
ch = input("Enter the character : ")

if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A' or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
  print('The character {} is a vowel'.format(ch))
else:
  print('The character {} is a consonant'.format(ch))

Enter the character :  A

The character A is a vowel

Q16. Time Classification

In [ ]:
“Good morning” is generally used from 5:00 a.m. to 12:00 p.m.
“Good afternoon” time is from 12:00 p.m. to 6:00 p.m. 
“Good evening” is often used after 6 p.m. or when the sun goes down.
Keep in mind that “Goodnight” is not a salutation.

In [ ]:
time = int(input('Enter time to hour format 0 to 23 hours : '))
greetins = ['Good Morning', 'Good Afternoon', 'Good Evening', 'Good Night']


if  5 <= time < 12:
    print(greetins[0])
elif  12 <= time < 17:
    print(greetins[1])
elif  17 <= time < 21:
    print(greetins[2])
else:
    print(greetins[3])

Q17.Triangle Type Checke

<b> The sum of any two side is always greater than third side</b>
* Equilateral triangle: All three sides of the triangle are equal. 
* Isosceles triangle: All two sides of the triangle are equal. 
* Scalene triangle: No sides of the triangle are equal.

In [4]:
a = int(input('Enter the value a : '))
b = int(input('Enter the value b : '))
c = int(input('Enter the value c : '))

if a+b > c or b+c > a or a+c > b:
    print('Basic condition on trigle is fullfilled.')
    if a == b == c:
        print('Equilateral triangle: All three sides of the triangle are equal.')
    elif a == b or b == c or a == c:
        print('Isosceles triangle: All two sides of the triangle are equal. ')
    else:
        print('Scalene triangle: No sides of the triangle are equal.')
else:
    print('Not possible to make a triangle')

Enter the value a :  5
Enter the value b :  5
Enter the value c :  5

Basic condition on trigle is fullfilled.
Equilateral triangle: All three sides of the triangle are equal.

Q18. Quadratic Equation solve

![the-quadratic-formula-and-the-values-of-discriminant.webp](attachment:08232c87-02cb-49dc-a999-a7ce4df1636d.webp)

In [12]:
import math
a = int(input('Enter the value of a : '))
b = int(input('Enter the value of b : '))
c = int(input('Enter the value of c : '))

d = b**2 - 4*a*c
print('The equation is : {}x^2 + {}x + {} = 0'.format(a,b,c))

if d == 0:
    x = -b /(2*a)
    print('the roots are equal')
    print('roots x = {}'.format(x))
elif d > 0:
    x1 = (-b + ((b**2 - 4*a*c))**.5)/ (2*a)
    x2 = (-b - ((b**2 - 4*a*c))**.5)/ (2*a)
    print('The roots ara {} and {}'.format(x1,x2))
else:
    x1 = (-b + ((b**2 - 4*a*c))**.5)/ (2*a)
    x2 = (-b - ((b**2 - 4*a*c))**.5)/ (2*a)
    print('The complex roots ara {} and {}'.format(x1,x2))

Enter the value of a :  1
Enter the value of b :  2
Enter the value of c :  1

The equation is : 1x^2 + 2x + 1 = 0
the roots are equal
roots x = -1.0

Q19. number range checker

In [13]:
def range_checker(number):
    if 0 <= number <= 50:
        print('The number falls within the range 0 - 50.')
    elif 51 <= number <= 100:
        print('The number falls within the range 50 - 100.')
    elif 101 <= number <= 150:
        print('The number falls within the range 101 - 150.')
    elif number > 150:
        print('The number is above 150.')
    else:
        print('The number is below 0.')

try:
    user_input = int(input('Enter an integer : '))
    range_checker(user_input)
except ValueError:
    print('Please enter a valid integer.')

Enter an integer :  5

The number falls within the range 0 - 50.

Q20. sum of N number

In [18]:
N = int(input('Enter a integer to upper limit'))
total = 0

for i in range(1, N+1):
    total = total + i
print('1 to {} range integers sum = {}'.format(N, total))

Enter a integer to upper limit 25

1 to 25 range integers sum = 325

Q21. calculate factorial using while loop

In [21]:
n = int(input('Enter a positive number to find factorial.'))
num = n
fact = 1

while n>0:
    fact = fact * n
    n = n - 1
print('{} factorial is = {}'.format(num, fact))

Enter a positive number to find factorial. 5

5 factorial is = 120

Q22. multiplication table of a number

In [25]:
n = int(input('Enter a integer to show multiplication table : '))
for i in range(1, 11):
    print('{} x {} = {}'.format(n, i, n*i))

Enter a integer to show multiplication table :  10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q23. count digit of a number

In [15]:
n = int(input('Enter a number to count digit : '))
digit = 0

while n != 0:
    n = n // 10
    digit = digit + 1
print(digit)

Enter a number to count digit :  25

2

Q24. Generate a fibonacci sequence

In [30]:
n = int(input('Enter a integer number : '))

a = 0
b = 1

for i in range(n): 
    print(a, end = ' ')
    a, b = b, a+b

Enter a integer number :  5

0 1 1 2 3

Q25. Sum of even numbers

In [36]:
n = int(input('Enter a integer number : '))
total = 0
for i in range(1, n+1):
    if i % 2 == 0:
        print(i, end = ' ')
        total = total + i

print('\nTotal sum of even number is {}'.format(total))

Enter a integer number :  10

2 4 6 8 10
Total sum of even number is 30

Q26. pattern, upper triangular , inverted upper triangular

In [53]:
# draw pattern
n = 3
for i in range(n):
    print('\n')
    for j in range(n):
        print('@', end = '  ')

@  @  @

@  @  @

@  @  @

In [54]:
# Right Angle trigle shape pattern
n = 3 
for i in range(n):
    print('\n')
    for j in range(n):
        if i==j or i>j: 
            print('*', end = '  ')

*

*  *

*  *  *

In [55]:
# invered right Angle trigle shape pattern

n = 3
for i in range(n):
    print('\n')
    for j in range(n):
        if (i > j):
            print(' ', end = ' ')
        else:
            print('&', end = ' ')

& & &

  & &

    &

Q27.Check the number is prime or not using while loop

In [65]:
n = int(input('Enter a integer to check prime or not : '))

flag = True
i = 2
while (i!= n) :
    if n % i == 0:
        flag = False
        break
    i = i + 1
if flag == False:
    print('The number {} is not a prime number. '.format(n))
else:
    print('The number {} is a prime number'.format(n))

Enter a integer to check prime or not :  31

The number 31 is a prime number

Q28. List Manipulation

In [76]:
list1 = [12, 4, 5, 17,9 ,8]
sum1 = 0
for i in list1:
    sum1 = sum1 + i

avg = format(sum1/ len(list1),'0.2f')

max_val = list1[0]
for i in list1:
    if max_val < i:
        max_val = i

min_val = list1[0]
for i in list1:
    if min_val > i:
        min_val = i

print('Sum = {}'.format(sum1))
print('Avg = {}'.format(avg))
print('Max = {}'.format(max_val))
print('Min = {}'.format(min_val))

Sum = 55
Avg = 9.17
Max = 17
Min = 4

Q29. Reverse String

In [79]:
str1 = 'mathematics'
rev = ''
for i in str1:
    rev = i + rev
print(rev)

scitamehtam

Q30. Multiplication Table

In [87]:
for j in range(1, 11):
    print('\nThe multiplication table for {}'.format(j))
    for i in range(1, 11):
        print('{} x {} = {}'.format(j, i, j*i))

The multiplication table for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

The multiplication table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

The multiplication table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

The multiplication table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

The multiplication table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

The multiplication table for 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

The multiplication table for 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

The multiplication table for 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

The multiplication table for 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

The multiplication table for 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q31. Print pattern

In [91]:
n = 5

for i in range(n):
    print('\n')
    for j in range(n):
        if i == j or i > j:
            print('*', end = ' ')

*

* *

* * *

* * * *

* * * * *

Q32. Matrix Multiplication

In [8]:
A = [[2,4,6],
     [4,5,6]]
B = [
    [7,8],
    [9,10],
    [11,12]]

row_A = len(A)
cols_A = len(A[0])
row_B = len(B)
cols_B = len(B[0])

if cols_A != row_B:
    raise ValueError('Number of column in A numst be equal to number of rows in B')

result = [[0 for _ in range(cols_B)] for _ in range(row_A)]


for i in range(row_A):
    for j in range(cols_B):
        for k in range(cols_A):
            result[i][j] += A[i][k] * B[k][j]

print(result)

[[116, 128], [139, 154]]

Q33. chessboard pattern

In [21]:
n = 5

for i in range(n):
    for j in range(n):
        if (i + j) % 2 == 0:
            print("X", end = ' ')
        else:
            print("O", end = ' ')
    print()

X O X O X
O X O X O
X O X O X
O X O X O
X O X O X

Q. pyramid like follow 1 22 3333 4444 55555

Q34. given list sum

In [1]:
list1 = [2, 3,4, 5, 6, 6]
total = 0

for i in list1:
    total = total + i

print('sum of the list {}'.format(total))

sum of the list 26

Q34. list average

In [8]:
list1 = [2, 3,4, 5, 6, 6]

n = len(list1)
total = 0
for i in list1:
    total = total + i

avg = format(total/n, '0.2f')
print('{} is avgerage of the list'.format(avg))

4.33 is avgerage of the list

Q36. list max and min

In [11]:
list1 = [2,35, 6, 34, 8, 12, 43]

list_min = list1[0]
list_max = list1[0]
for i in list1:
    if list_min > i:
        list_min = i

for i in list1:
    if list_max < i:
        list_max = i

print('min of the list is {}'.format(list_min))
print('max of the list is {}'.format(list_max))

min of the list is 2
max of the list is 43

Q37. list sorting

In [3]:
list1 = [64, 34, 25, 12, 22, 11, 90]
n = len(list1)

for i in range(n):
    for j in range(0, n-i-1):
        if list1[j] > list1[j+1]:
            list1[j], list1[j+1] = list1[j+1], list1[j]

print(list1)

[11, 12, 22, 25, 34, 64, 90]

Q38. List filtering even number

In [6]:

list1 = [64, 34, 25, 12, 22, 11, 90]
filter_list = []

for i in list1:
    if i % 2 == 0:
        filter_list.append(i)

print(filter_list)

[64, 34, 12, 22, 90]

Q39. List reverse

In [8]:
list1 = [64, 34, 25, 12, 22, 11, 90]
rev_list = list1[::-1]
rev_list

[90, 11, 22, 12, 25, 34, 64]

Q40. list Manipulation common in both list

In [10]:
ls1 = [1,2,3,4,5,6,7]
ls2 = [3,9,7,12,13]
com_ls = []


for i in ls1:
    for j in ls2:
        if i == j:
            com_ls.append(i)
print(com_ls)

[3, 7]

Q41. occurrence of a element count

In [11]:
ls = [1, 2, 3, 4, 2, 2, 5, 2]
find = 2
count = 0

for i in ls:
    if i == 2:
        count = count + 1

print(count)

4

Q42. remove duplicate

In [12]:
# using set operation
arr = [1, 2, 3, 4, 2, 2, 5, 2]
print(set(arr))

{1, 2, 3, 4, 5}

Q43. list comprehension

In [15]:
lst = [1, 2, 3, 4, 5]
[i**2 for i in lst]

[1, 4, 9, 16, 25]

Q44.Matrix addition

In [14]:
mat_a = [[1,2,3],
         [2,3,4],
         [2,3,5]]
mat_b = [[6,6,3],
         [2,2,4],
         [2,-1,0]]

row_a = len(mat_a)
row_b = len(mat_b)
col_a = len(mat_a[0])
col_b = len(mat_a[0])

result = [[0 for _ in range(row_a)] for _ in range(col_a)]

if row_a == row_b and col_a == col_b:
    for i in range(row_a):
        for  j in range(col_a):
            result[i][j] = mat_a[i][j] + mat_b[i][j]

print(result)

[[7, 8, 6], [4, 5, 8], [4, 2, 5]]

Q45. Flatten Nested list

In [20]:
my_list = [[1], [2,3], [4,5,6,7]]
flat_list = []

for sublist in my_list:
    print(sublist)
    for num in sublist:
        flat_list.append(num)
print(flat_list)

[1]
[2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

Q46. List Element Frequency

In [29]:
from itertools import chain
from collections import Counter

nested_list = [[1, 2, 3], [2, 3, 4], [3, 4, 5, 6], [4, 5, 6, 7]]

flat_list = list(chain.from_iterable(nested_list))
print('Flat list',flat_list)

element_counts = dict(Counter(flat_list))
print('Element count',element_counts)

# print the result 

for element , count in element_counts.items():
    print(f"{element} = {count}")

Flat list [1, 2, 3, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7]
Element count {1: 1, 2: 2, 3: 3, 4: 3, 5: 2, 6: 2, 7: 1}
1 = 1
2 = 2
3 = 3
4 = 3
5 = 2
6 = 2
7 = 1

Q47. Tanspost Matrix

In [41]:
mat = [[12, 7], [4, 5], [3, 8]]
row_mat = len(mat)
col_mat = len(mat[0])
result = [[0 for _ in range(row_mat)] for _ in range(col_mat) ]



for i in range(row_mat):
    for j in range(col_mat):
        result[j][i] = mat[i][j]

result

[[12, 4, 3], [7, 5, 8]]

Q48.List of list concatination

In [45]:
import itertools
nested_list = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]
flat_list = []
for partition in nested_list:
    for num in partition:
        flat_list.append(num)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Q49. Touple concatination

In [2]:
tup1 = ('a', 'b', 'c', 'd')
tup2 = ('e', 'f', 'g')

new_tup = tup1 + tup2
new_tup

('a', 'b', 'c', 'd', 'e', 'f', 'g')

Q50.Touple Unpacking

In [5]:
tup1 = (1, 2, 3, ['a', 'b', 'c'])
x, y, _, ls = tup1
print(x)
print(y)
print(ls)

1
2
['a', 'b', 'c']

Q51. Tuple sorting ascending order

In [6]:
tup1 = (1, 3, 2, 0, 6, 1)
print(sorted(tup1))

[0, 1, 1, 2, 3, 6]

Q52. Tuple frequency count

In [13]:
tuples = [(1, 2), (3, 4), (1, 2), (5, 6), (3, 4), (3, 4)]
freq_dict = {}
for i in tuples:
    if i in freq_dict:
        freq_dict[i] = freq_dict[i] + 1
    else:
        freq_dict[i] = 1

print(freq_dict)

{(1, 2): 2, (3, 4): 3, (5, 6): 1}

Q53. Tuple to list

In [14]:
tup1 = (1, 2, 4, 5, 6)
list(tup1)

[1, 2, 4, 5, 6]

Q54. Tuple reversal

In [17]:
tup1 = (1, 2, 4, 5, 6)
rev = tuple(reversed(tup1))
rev

(6, 5, 4, 2, 1)

Q55. Tuple slicing

In [21]:
tup1 = (1, 2, 3)
tup1[0], tup1[1]

(1, 2)

In [22]:
tup1[-1]

3

In [23]:
tup1[::-1]

(3, 2, 1)

Q56. Tuple operation

In [28]:
tuple1 = (1, 2, 3)
tuple2 = (5, 6, 7)

addition = tuple(a + b for a, b in zip(tuple1, tuple2))
subtraction = tuple(a - b for a, b in zip(tuple1, tuple2))
multiplication = tuple(a*b for a, b in zip(tuple1, tuple2))
        

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)

Addition: (6, 8, 10)
Subtraction: (-4, -4, -4)
Multiplication: (5, 12, 21)

Q57. Tuple membership test

In [31]:
my_tuple = (1, 2, 3, 4, 5)
elment = int(input('Enter integer : '))

is_member = elment in my_tuple
print(f'is {elment} in the tuple? {is_member}')

Enter integer :  5

is 5 in the tuple? True

Q58. Tuple packing

In [33]:
a = 10
b = 20 
c = 30

tuple_ = (a, b, c)
print(tuple_, type(tuple_))

(10, 20, 30) <class 'tuple'>

Q59.Nested List Element Element

In [4]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for sublist in my_list:
    for item in sublist:
        print(item, end=' ')
    print()

1 2 3
4 5 6
7 8 9

Q60. Nested List Flatening

In [6]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ls = []

for sublist in my_list:
    for item in sublist:
        ls.append(item)

print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Q61. sorted sublist based on length

In [8]:
my_list = [['a', 'b', 'c'], ['d', 'e'], ['f', 'g', 'h'], ['i', 'j', 'k', 'l'],['m']]

sorted_list = sorted(my_list, key = len)
sorted_list

[['m'], ['d', 'e'], ['a', 'b', 'c'], ['f', 'g', 'h'], ['i', 'j', 'k', 'l']]

Q62. List of tuple conversion

In [10]:
coordinates_list = [(4, 4), (4, 5),  (4, 8), (3, 8), (2, 8), (1, 8), (1, 9)]

x_list = [x for x, y in coordinates_list]
y_list = [y for x, y in coordinates_list]

print('x_list : ', x_list)
print('y_list : ', y_list)

x_list :  [4, 4, 4, 3, 2, 1, 1]
y_list :  [4, 5, 8, 8, 8, 8, 9]

Q63. Matrix Tranpose

In [11]:
x = [[12, 7], [4, 5], [3, 8]]
result = [[x[j][i] for j in range(len(x))] for i in range(len(x[0]))]
result

[[12, 4, 3], [7, 5, 8]]

Q64. nested list concatination

In [12]:
list1 = [[1, 2], [3, 4]]
list2 = [[5, 6], [7, 8]]

con_list = list1+list2
con_list

[[1, 2], [3, 4], [5, 6], [7, 8]]

Q65. Count even number

In [22]:
nst_list = [[1, 2], [3, 4], [5, 6], [7, 8]]
even = 0
even_list = []

for element in nst_list:
    for item in element:
        if item % 2 == 0:
            even = even + 1
            even_list.append(item)

print('even number total =  {}'.format(even))
print('numbers', even_list)

even number total =  4
numbers [2, 4, 6, 8]

Q66. maximum element in nested list

In [25]:
nest_list = [[12, 7], [4, 5], [17, 8]]
max_val = 0

for element in nest_list:
    for item in element:
        if item > max_val:
            max_val = item

print(max_val)

17

Q67. Diagonal sum of Matrix

In [27]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
diagonal_sum = 0


for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        if i == j:
            diagonal_sum = diagonal_sum + matrix[i][j]

print(diagonal_sum)

15

Q68. Nested list element search

Found 5 in the nested list

Q69.Duplicate removal in a set

In [6]:
def unique_elements(input_list):
    unique_list = []
    for element in input_list:
        if element not in unique_list:
            unique_list.append(element)
    return unique_list

lst = [1,2,2,3,4,5,5,6,7]
print(unique_elements(lst))

[1, 2, 3, 4, 5, 6, 7]

Q70. set intersection

In [9]:
A = [1,2,3,4,5,6]
B = [3,4,5,6,8,9,10]
intersec = []

for i in range(len(A)):
    for j in range(len(B)):
        if B[j] == A[i]:
            intersec.append(A[i])
print(intersec)

[3, 4, 5, 6]

Q71. set Union

In [30]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}

union_set = set()

for elem in set1:
    union_set.add(elem)

for elem in set2:
    union_set.add(elem)


union_set

{1, 2, 3, 4, 5, 6}

Q72. Set Difference

In [32]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

diff = set()

for elm in set1:
    if elm not in set2:
        diff.add(elm)
diff

{1, 2}

Q73. Set symmetric difference

In [2]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

sym_diff = set1.symmetric_difference(set2)
sym_diff

{1, 2, 5, 6}

Q74. Set Operation

In [8]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
C = {1, 8, 9, 3}

inter_AB = A.intersection(B)
union_BC = B.union(C)
diff_CA = C.difference(A)

print('intersection of A and B set = ',inter_AB)
print('union of B and C set = ', union_BC)
print('Difference of C and A set = ', diff_CA)

intersection of A and B set =  {3, 4}
union of B and C set =  {1, 3, 4, 5, 6, 8, 9}
Difference of C and A set =  {8, 9}

Q75. Subset Checking

In [10]:
a = [1, 3, 5]
b = [1,3, 5, 8]

subset = set(a).issubset(b)
subset

True

Q76. superset checking

In [12]:
A = {1, 2, 3, 4}
B = {1, 2}

superset = A.issuperset(B)
superset

True

Q77. set length

In [20]:
A = {1, 2, 3, 4}

len(A)

4

Q78. set membership operator

In [26]:
A = {1, 2, 3, 4}

if 2 in A: 
    print('Found')
else:
    print('Not Found')

Found

Q92. prime number checker

In [30]:
n = int(input('Enter a position integer : '))
flag = 0
for i in range(2, n):
    if n % i == 0:
        flag = 1
        break

if flag == 0:
    print('Prime Number')
else:
    print('Not Prime Number')

Enter a position integer :  11

Prime Number

Q93. Even Number print

In [35]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20

Q94. Password Validator

Q95. Divisible by 3 or 5

In [44]:
for i in range(1, 51):
    if i % 3 != 0 or i % 5 != 0:
        continue
    print(i, end = ' ')

15 30 45

Q96. Positive number sum

In [4]:
n = int(input('how many number you entered : '))
ls = []
total = 0

while n:
    elem = int(input())
    total = total + elem
    if elem < 0:
        break
    ls.append(elem)
    n = n - 1

"""for i in range(n):
    elem = int(input())
    if elem < 0:
        break
    ls.append(elem)"""
print(ls)
print('sum of the positive number ', total)

how many number you entered :  5
 3
 2
 6
 -1

[3, 2, 6]
sum of the positive number  10

Q97. palindromic checker

In [13]:
word = 'madam'
rev = ''

for char in word:
    if len(word) <= 3:
        continue
    rev = char + rev

if word == rev:
    print('palindromic')

else:
    print('not palindromic')

palindromic

Q98. Odd Number finder

In [15]:
ls = [ 2, 8, 5, 4,7, 9, 1 ]
print(ls)

for num in ls:
    if num % 2 != 0:
        print('first odd number of list',num)
        break

[2, 8, 5, 4, 7, 9, 1]
first odd number of list 5